/* HEADER und NAV */
.header

    height: 8vh

    position: sticky
    top: 0

    box-shadow: 0 0 5px 5px #47474716
    z-index: 99

    header
        display: flex
        justify-content: space-between
        align-items: center

        padding-top: 0
        padding-bottom: 0
        height: 100%

        .large-nav
            align-items: center
            display: flex
            list-style-type: none

            li
                margin-left: 1em

        a
            text-decoration: none

            &:hover
                text-decoration: underline

    .logo
        height: 30px