



.bild {
    transition: background-image 0.6s ease;
    background-size: cover;
    background-position: center;
    filter: grayscale(50%);
}


.heroshot {
    min-height: 93vh;
    font-size: 2em ;
}

.heroshot span {
    padding: 0.5em;
    display: inline-block;
    backdrop-filter: blur(5px);
}



.ideenschmiede {
    font-size: 30px;
}

.ideenschmiedeklein {
    font-size: 20px;
    word-wrap: break-word;
}

/* GRID */

.grid {
    display: grid;
}

.grid-2 {
    grid-template-columns: repeat(2, 1fr);
    gap: 10%
}

.grid-3 {
    grid-template-columns: repeat(3, 1fr);
    gap: 10%
}





/* TEXT */
.bold {
    font-weight: bold
}

.underline {
    text-decoration: underline
}

.t-center {
    text-align: center
}

.t-right {
    text-align: right
}

.t-wrap {
    word-break: break-word
}

.t-large {
    font-size: xx-large;
}





.lehre-blob {
    background-color: #dee4ee;
    height: 93vh;
    display: flex;
    justify-content: center;
    align-content: flex-end;
}

.lehre-blob h1 {
    margin: 0;
}

.lehre-blob svg {
    height: 93vh;
    padding-top: 5em;
    max-width: 100%;
}

.smallnav {
    display: none;
}


.smallnav svg:hover {
    cursor: pointer;
}

.menu {
    display: none;
    position: fixed;
    background-color: white;

    right: 0;
    top: 0;
    padding-top: 9vh;
    padding-right: 2em;
    z-index: -2;
    width: 100%;
    height: 100%;
    text-align: right;
}

/* RESPONSIVE */
@media only screen and (max-width: 900px) {

    .grid-2 {
        grid-template-columns: repeat(auto-fill, 100%);
        row-gap: 50px
    }

    .grid-2-at-numbers {
        row-gap: 5px
    }

    .grid-2-at-numbers p {
        margin: 0.5em
    }

    .grid-3>* {
        width: 100%;
    }

    .grid-4>* {
        width: 50%;
    }

    .team-container {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 10px
    }

    .heroshot {
        font-size: 1.4em;
        top: 60px;
        left: 30px;
    }

    .detail {
        flex-direction: column;
        align-items: center;
    }

    .detail>* {
        width: 100% ;
        margin-left: 0 ;
        margin-bottom: 3em;
    }

    .container {
        padding: 2em
    }

    .largenav {
        display: none;
    }

    .smallnav {
        display: flex;
        align-items: center
    }

    footer,
    .t-right,
    .grid-2{
        text-align: left;
    }
}

@media only screen and (max-width: 600px) {

    .heroshot {
        font-size: 0.8em;
        top: 30px;
        left: 30px;
        color: var(--white);
    }

    .container {
        padding: 1em
    }
}



@media (max-width: 768px) {
    .lehre-blob {
        flex-direction: column;
        justify-content: flex-start;
        height: unset
    }
    .lehre-blob svg {
        height: unset ;
        padding: 0
    }
    .blob-small svg {
        height: unset;
        width: 100vw;
        padding-top: 0;
    }
    
    .timeline_box > div:nth-child(even) {
        margin-top: -14px;
        margin-bottom: 14px;
    }

    .timeline > .timeline_box > div {
        width: 76%;
    }
}