@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


:root {
    --light-blue: #d2ebff;
    --dark-blue: #003057;
    --white: #ffffff;
    --grey: #e6e6e6;
    --dark-grey: #1f1f1f;
    --black: #000000;
}

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    color: var(--dark-grey);
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0
}

main {
    flex-grow: 1;
}

body::-webkit-scrollbar {
	width: 12px;               /* width of the entire scrollbar */
  }
  
body::-webkit-scrollbar-track {
	background: rgb(238, 238, 238);        /* color of the tracking area */
	padding: 10px;
}

body::-webkit-scrollbar-thumb {
	background-color: var(--dark-blue);
	padding: 1em;
}

.heroshot {
    font-size: 2em;
    position: absolute;
    top: 80px;
    left: 100px;
}





/* GRID */

.grid {
    display: grid;
}

.grid-2 {
    grid-template-columns: repeat(auto-fill, 50%);
}


/* BACKGROUND */
.bg-grey {
    background-color: var(--grey)
}

.bg-dark-blue {
    background-color: var(--dark-blue)
}

.bg-light-blue {
    background-color: var(--light-blue)
}

.bg-black {
    background-color: var(--black)
}


/* TEXT */
.bold {
    font-weight: bold
}

.underline {
    text-decoration: underline
}

.t-center {
    text-align: center
}

.t-right {
    text-align: right
}

.t-wrap {
    word-break: break-word
}

.t-large {
    font-size: xx-large;
}

.t-color-red {
    color: red
}

.t-color-white {
    color: var(--white)
}

.t-color-blue {
    color: var(--dark-blue)
}

/* Margin */
.margin-remove {
    margin: 0
}

.margin-y {
    margin: 3em 0em
}

.margin-x {
    margin: 0em 3em
}


/* Padding */
.padding-x {
    padding: 0em 3em
}

.padding-y {
    padding: 3em 0em
}

.padding {
    padding: 3em
}

.padding-remove {
    padding: 0
}


.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;

    padding: 2em
}


/* FLEX */
.flex {
    display: flex
}

.flex-column {
    flex-direction: column
}

.flex-center {
    justify-content: center;
}

.flex-middle {
    align-items: center;
}

.flex-between {
    justify-content: space-between
}

/* LINKS */
.reset-link {
    color: var(--black);
    text-decoration: none
}

.link-light {
    color: var(--white);
    text-decoration: none
}

.u-hover:hover {
    text-decoration: underline
}

/* HEADER und NAV */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white);
    /* border-bottom: 1px solid black; */
    padding: 0.3em 1em;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
}

nav>ul {
    list-style-type: none;
    display: flex;
}

nav>ul li a {
    text-decoration: none;
    padding: 0 1em;
    transition: color 0.2s ease;
}
nav>ul > li > a:hover {
    color: var(--black) !important;
}

nav>ul:hover > li > a, nav>ul:hover > *{
    color: var(--grey);
}

/* FORM */
.form {
    width: 100%;
}

.form input,
.form textarea {
    width: 100%;
    background-color: var(--grey);
    border-width: 0px;
    padding: 0.5em;
    margin: 1em 0;
    resize: none;
}

.form input:focus,
.form textarea:focus {
    border-width: 0;
}

.nav-divider {
    /* color: var(--grey) */
}

.button {
    background-color: var(--white);
    font-size: 1.2em;
}


/* DROPDWON */
.dropdown>ul {
    visibility: hidden;
    position: absolute;
    padding-top: 1em;
    list-style: none;
}

.dropdown:hover>ul {
    visibility: visible;
}

.dropdown:hover>ul>li {
    background-color: var(--grey);
    margin-bottom: 0.5em;
    padding: 0.5em;
}






.team-container {
    display: inline-grid;
    grid-template-columns: repeat(auto-fill, 30%);
    gap: 50px;
    max-width: 100%;
    width: 100%;
}

.team-container>* {
    /* border: 1px solid black; */
    background-color: var(--grey);
}

.team-container img {
    width: 100%
}


.lehre-blob {
    background-color: var(--dark-grey);
    height: 100vh;
}
.lehre-blob h1  {
    margin:0;
}


/* RESPONSIVE */
@media only screen and (max-width: 900px) {

    .grid-2 {
        grid-template-columns: repeat(auto-fill, 100%);
    }

    .grid-3>* {
        width: 100%;
    }

    .grid-4>* {
        width: 50%;
    }

    .team-container {
        grid-template-columns: 50% 50% !important;
        gap: 10px
    }

    .heroshot {
        font-size: 1.4em; 
        top: 60px;
        left: 30px
    }
}

@media only screen and (max-width: 600px) {

    .heroshot {
        font-size: 0.8em; 
        top: 30px;
        left: 30px;
        color: var(--white);
    }
}

::selection {
    background-color: var(--dark-blue);
    color: var(--white);
}