/* Breakpoints */
/* Colors */
/* Fonts */
/* Setup */
* {
    box-sizing: border-box; }
  
  body {
    margin: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #3a3a3a; }
  
  /* Color Usages */
  .bg-primary {
    background-color: #c88aff; }
  
  .color-primary {
    color: #c88aff; }
  
  .border-primary {
    border-color: #c88aff; }
  
  .bg-secondary {
    background-color: #ffd7fe; }
  
  .color-secondary {
    color: #ffd7fe; }
  
  .border-secondary {
    border-color: #ffd7fe; }
  
  .bg-muted {
    background-color: #e7e7e7; }
  
  .color-muted {
    color: #e7e7e7; }
  
  .border-muted {
    border-color: #e7e7e7; }
  
  .bg-success {
    background-color: #a7ff69; }
  
  .color-success {
    color: #a7ff69; }
  
  .border-success {
    border-color: #a7ff69; }
  
  .bg-error {
    background-color: #ff5050; }
  
  .color-error {
    color: #ff5050; }
  
  .border-error {
    border-color: #ff5050; }
  
  .bg-warning {
    background-color: #ffdc69; }
  
  .color-warning {
    color: #ffdc69; }
  
  .border-warning {
    border-color: #ffdc69; }
  
  .bg-text {
    background-color: #222222; }
  
  .color-text {
    color: #222222; }
  
  .border-text {
    border-color: #222222; }
  
  /* Margins and Paddings */
  .m-0 {
    margin: 0em; }
  
  .child-m-0 > * {
    margin: 0em; }
  
  .p-0 {
    padding: 0em; }
  
  .child-p-0 > * {
    padding: 0em; }
  
  .mb-0 {
    margin-bottom: 0em; }
  
  .child-mb-0 > * {
    margin-bottom: 0em; }
  
  .pb-0 {
    padding-bottom: 0em; }
  
  .child-pb-0 > * {
    padding-bottom: 0em; }
  
  .mt-0 {
    margin-top: 0em; }
  
  .child-mt-0 > * {
    margin-top: 0em; }
  
  .pt-0 {
    padding-top: 0em; }
  
  .child-pt-0 > * {
    padding-top: 0em; }
  
  .ml-0 {
    margin-left: 0em; }
  
  .child-ml-0 > * {
    margin-left: 0em; }
  
  .pl-0 {
    padding-left: 0em; }
  
  .child-pl-0 > * {
    padding-left: 0em; }
  
  .mr-0 {
    margin-right: 0em; }
  
  .child-mr-0 > * {
    margin-right: 0em; }
  
  .pr-0 {
    padding-right: 0em; }
  
  .child-pr-0 > * {
    padding-right: 0em; }
  
  .m-1 {
    margin: 1em; }
  
  .child-m-1 > * {
    margin: 1em; }
  
  .p-1 {
    padding: 1em; }
  
  .child-p-1 > * {
    padding: 1em; }
  
  .mb-1 {
    margin-bottom: 1em; }
  
  .child-mb-1 > * {
    margin-bottom: 1em; }
  
  .pb-1 {
    padding-bottom: 1em; }
  
  .child-pb-1 > * {
    padding-bottom: 1em; }
  
  .mt-1 {
    margin-top: 1em; }
  
  .child-mt-1 > * {
    margin-top: 1em; }
  
  .pt-1 {
    padding-top: 1em; }
  
  .child-pt-1 > * {
    padding-top: 1em; }
  
  .ml-1 {
    margin-left: 1em; }
  
  .child-ml-1 > * {
    margin-left: 1em; }
  
  .pl-1 {
    padding-left: 1em; }
  
  .child-pl-1 > * {
    padding-left: 1em; }
  
  .mr-1 {
    margin-right: 1em; }
  
  .child-mr-1 > * {
    margin-right: 1em; }
  
  .pr-1 {
    padding-right: 1em; }
  
  .child-pr-1 > * {
    padding-right: 1em; }
  
  .m-2 {
    margin: 2em; }
  
  .child-m-2 > * {
    margin: 2em; }
  
  .p-2 {
    padding: 2em; }
  
  .child-p-2 > * {
    padding: 2em; }
  
  .mb-2 {
    margin-bottom: 2em; }
  
  .child-mb-2 > * {
    margin-bottom: 2em; }
  
  .pb-2 {
    padding-bottom: 2em; }
  
  .child-pb-2 > * {
    padding-bottom: 2em; }
  
  .mt-2 {
    margin-top: 2em; }
  
  .child-mt-2 > * {
    margin-top: 2em; }
  
  .pt-2 {
    padding-top: 2em; }
  
  .child-pt-2 > * {
    padding-top: 2em; }
  
  .ml-2 {
    margin-left: 2em; }
  
  .child-ml-2 > * {
    margin-left: 2em; }
  
  .pl-2 {
    padding-left: 2em; }
  
  .child-pl-2 > * {
    padding-left: 2em; }
  
  .mr-2 {
    margin-right: 2em; }
  
  .child-mr-2 > * {
    margin-right: 2em; }
  
  .pr-2 {
    padding-right: 2em; }
  
  .child-pr-2 > * {
    padding-right: 2em; }
  
  .m-3 {
    margin: 3em; }
  
  .child-m-3 > * {
    margin: 3em; }
  
  .p-3 {
    padding: 3em; }
  
  .child-p-3 > * {
    padding: 3em; }
  
  .mb-3 {
    margin-bottom: 3em; }
  
  .child-mb-3 > * {
    margin-bottom: 3em; }
  
  .pb-3 {
    padding-bottom: 3em; }
  
  .child-pb-3 > * {
    padding-bottom: 3em; }
  
  .mt-3 {
    margin-top: 3em; }
  
  .child-mt-3 > * {
    margin-top: 3em; }
  
  .pt-3 {
    padding-top: 3em; }
  
  .child-pt-3 > * {
    padding-top: 3em; }
  
  .ml-3 {
    margin-left: 3em; }
  
  .child-ml-3 > * {
    margin-left: 3em; }
  
  .pl-3 {
    padding-left: 3em; }
  
  .child-pl-3 > * {
    padding-left: 3em; }
  
  .mr-3 {
    margin-right: 3em; }
  
  .child-mr-3 > * {
    margin-right: 3em; }
  
  .pr-3 {
    padding-right: 3em; }
  
  .child-pr-3 > * {
    padding-right: 3em; }
  
  .m-4 {
    margin: 4em; }
  
  .child-m-4 > * {
    margin: 4em; }
  
  .p-4 {
    padding: 4em; }
  
  .child-p-4 > * {
    padding: 4em; }
  
  .mb-4 {
    margin-bottom: 4em; }
  
  .child-mb-4 > * {
    margin-bottom: 4em; }
  
  .pb-4 {
    padding-bottom: 4em; }
  
  .child-pb-4 > * {
    padding-bottom: 4em; }
  
  .mt-4 {
    margin-top: 4em; }
  
  .child-mt-4 > * {
    margin-top: 4em; }
  
  .pt-4 {
    padding-top: 4em; }
  
  .child-pt-4 > * {
    padding-top: 4em; }
  
  .ml-4 {
    margin-left: 4em; }
  
  .child-ml-4 > * {
    margin-left: 4em; }
  
  .pl-4 {
    padding-left: 4em; }
  
  .child-pl-4 > * {
    padding-left: 4em; }
  
  .mr-4 {
    margin-right: 4em; }
  
  .child-mr-4 > * {
    margin-right: 4em; }
  
  .pr-4 {
    padding-right: 4em; }
  
  .child-pr-4 > * {
    padding-right: 4em; }
  
  .m-5 {
    margin: 5em; }
  
  .child-m-5 > * {
    margin: 5em; }
  
  .p-5 {
    padding: 5em; }
  
  .child-p-5 > * {
    padding: 5em; }
  
  .mb-5 {
    margin-bottom: 5em; }
  
  .child-mb-5 > * {
    margin-bottom: 5em; }
  
  .pb-5 {
    padding-bottom: 5em; }
  
  .child-pb-5 > * {
    padding-bottom: 5em; }
  
  .mt-5 {
    margin-top: 5em; }
  
  .child-mt-5 > * {
    margin-top: 5em; }
  
  .pt-5 {
    padding-top: 5em; }
  
  .child-pt-5 > * {
    padding-top: 5em; }
  
  .ml-5 {
    margin-left: 5em; }
  
  .child-ml-5 > * {
    margin-left: 5em; }
  
  .pl-5 {
    padding-left: 5em; }
  
  .child-pl-5 > * {
    padding-left: 5em; }
  
  .mr-5 {
    margin-right: 5em; }
  
  .child-mr-5 > * {
    margin-right: 5em; }
  
  .pr-5 {
    padding-right: 5em; }
  
  .child-pr-5 > * {
    padding-right: 5em; }
  
  .m-6 {
    margin: 6em; }
  
  .child-m-6 > * {
    margin: 6em; }
  
  .p-6 {
    padding: 6em; }
  
  .child-p-6 > * {
    padding: 6em; }
  
  .mb-6 {
    margin-bottom: 6em; }
  
  .child-mb-6 > * {
    margin-bottom: 6em; }
  
  .pb-6 {
    padding-bottom: 6em; }
  
  .child-pb-6 > * {
    padding-bottom: 6em; }
  
  .mt-6 {
    margin-top: 6em; }
  
  .child-mt-6 > * {
    margin-top: 6em; }
  
  .pt-6 {
    padding-top: 6em; }
  
  .child-pt-6 > * {
    padding-top: 6em; }
  
  .ml-6 {
    margin-left: 6em; }
  
  .child-ml-6 > * {
    margin-left: 6em; }
  
  .pl-6 {
    padding-left: 6em; }
  
  .child-pl-6 > * {
    padding-left: 6em; }
  
  .mr-6 {
    margin-right: 6em; }
  
  .child-mr-6 > * {
    margin-right: 6em; }
  
  .pr-6 {
    padding-right: 6em; }
  
  .child-pr-6 > * {
    padding-right: 6em; }
  
  .m-7 {
    margin: 7em; }
  
  .child-m-7 > * {
    margin: 7em; }
  
  .p-7 {
    padding: 7em; }
  
  .child-p-7 > * {
    padding: 7em; }
  
  .mb-7 {
    margin-bottom: 7em; }
  
  .child-mb-7 > * {
    margin-bottom: 7em; }
  
  .pb-7 {
    padding-bottom: 7em; }
  
  .child-pb-7 > * {
    padding-bottom: 7em; }
  
  .mt-7 {
    margin-top: 7em; }
  
  .child-mt-7 > * {
    margin-top: 7em; }
  
  .pt-7 {
    padding-top: 7em; }
  
  .child-pt-7 > * {
    padding-top: 7em; }
  
  .ml-7 {
    margin-left: 7em; }
  
  .child-ml-7 > * {
    margin-left: 7em; }
  
  .pl-7 {
    padding-left: 7em; }
  
  .child-pl-7 > * {
    padding-left: 7em; }
  
  .mr-7 {
    margin-right: 7em; }
  
  .child-mr-7 > * {
    margin-right: 7em; }
  
  .pr-7 {
    padding-right: 7em; }
  
  .child-pr-7 > * {
    padding-right: 7em; }
  
  /* Same width Grid */
  .grid-2 {
    display: grid;
    grid-template-columns: repeat(auto-fill, 50%);
    gap: 0%; }
    @media (max-width: 900px) {
      .grid-2 {
        grid-template-columns: 100%; } }
  
  .grid-2-narrow {
    display: grid;
    grid-template-columns: repeat(auto-fill, 47.5%);
    gap: 5%; }
    @media (max-width: 900px) {
      .grid-2-narrow {
        grid-template-columns: 100%; } }
  
  .grid-2-normal {
    display: grid;
    grid-template-columns: repeat(auto-fill, 45%);
    gap: 10%; }
    @media (max-width: 900px) {
      .grid-2-normal {
        grid-template-columns: 100%; } }
  
  .grid-2-open {
    display: grid;
    grid-template-columns: repeat(auto-fill, 40%);
    gap: 20%; }
    @media (max-width: 900px) {
      .grid-2-open {
        grid-template-columns: 100%; } }
  
  .grid-3 {
    display: grid;
    grid-template-columns: repeat(auto-fill, 33.33333%);
    gap: 0%; }
    @media (max-width: 900px) {
      .grid-3 {
        grid-template-columns: 100%; } }
  
  .grid-3-narrow {
    display: grid;
    grid-template-columns: repeat(auto-fill, 30%);
    gap: 5%; }
    @media (max-width: 900px) {
      .grid-3-narrow {
        grid-template-columns: 100%; } }
  
  .grid-3-normal {
    display: grid;
    grid-template-columns: repeat(auto-fill, 26.66667%);
    gap: 10%; }
    @media (max-width: 900px) {
      .grid-3-normal {
        grid-template-columns: 100%; } }
  
  .grid-3-open {
    display: grid;
    grid-template-columns: repeat(auto-fill, 20%);
    gap: 20%; }
    @media (max-width: 900px) {
      .grid-3-open {
        grid-template-columns: 100%; } }
  
  .grid-4 {
    display: grid;
    grid-template-columns: repeat(auto-fill, 25%);
    gap: 0%; }
    @media (max-width: 900px) {
      .grid-4 {
        grid-template-columns: 100%; } }
  
  .grid-4-narrow {
    display: grid;
    grid-template-columns: repeat(auto-fill, 21.25%);
    gap: 5%; }
    @media (max-width: 900px) {
      .grid-4-narrow {
        grid-template-columns: 100%; } }
  
  .grid-4-normal {
    display: grid;
    grid-template-columns: repeat(auto-fill, 17.5%);
    gap: 10%; }
    @media (max-width: 900px) {
      .grid-4-normal {
        grid-template-columns: 100%; } }
  
  .grid-4-open {
    display: grid;
    grid-template-columns: repeat(auto-fill, 10%);
    gap: 20%; }
    @media (max-width: 900px) {
      .grid-4-open {
        grid-template-columns: 100%; } }
  
  /* Widths */
  .width-1-1 {
    width: 100%; }
  
  .width-1-2 {
    width: 50%; }
  
  .width-1-3 {
    width: 33.33333%; }
  
  .width-1-4 {
    width: 25%; }
  
  .width-1-5 {
    width: 20%; }
  
  .width-1-6 {
    width: 16.66667%; }
  
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;}
